# Ignore everything
*
# Include:
!.gitignore
!configuration.nix
!desktop.nix
!disko-config.nix
!flake.nix
!flatpak.nix
!impermanence.nix
!myparams_init.nix
!packages.nix
!users.nix
!vm.nix
!scripts
!scripts/changepass.sh
!scripts/cruft.sh
!scripts/nix-setup.sh
!.github/
!.github/install.sh
!.github/README.md
